What's up marketers? In today's video, I'm going to show you exactly how I am preparing for Black Friday, Cyber Monday 2021 with my clients at Thesis. And for those of you who are new around here, my name is Dara Denny and I'm the Director of Growth at the Advertising Agency Thesis Testing where I work with direct-to-consumer e-commerce brands that are spending anywhere from $250k to $1 million every single month on their paid social advertising.

And my God, Black Friday, Cyber Monday is like the paid social Lollapalooza if it was based in hell. And if I'm being honest, last year was super rough on me and luckily for you guys, I vlogged the entire thing. In fact, in some ways, I feel like I never actually recovered from that day, which is why this year I am not making the same mistakes.

So if you are a brand owner or a digital marketer prepping for Black Friday, Cyber Monday, this is the exact strategy that I'm using to prepare my clients for this big event. I'm going to span everything from offers to creative to the exact campaign setup that I'll be using this year. So let's dive in.

So perhaps the most important part of your Black Friday, Cyber Monday strategy is going to be choosing the right offer. Now I have heard many perspectives from other experts on how to choose the right offer. Savannah Sanchez says, don't choose anything below 30 to 40%.

And I had an old boss who used to say that unless your Black Friday, Cyber Monday offer didn't make you feel uncomfortable, then it was a crappy offer. And recently in a Nick Sharma newsletter, he is actually going after high AOV offers that have really steep discounts. Now from the agency perspective, I think that the offer is actually 95% on the client.

Of course, we're going to weigh in and also tell you if your offer sucks or not. But for the most part, the offer is left up to the client. And this year, I have some clients who are doing 20% off offers, 40% off offers, BOGO, which is buy one, get one free.

There are many things that we're testing out this year across a wide variety of clients. And again, the offer is going to be super brand specific. But from my perspective, it should always be your best offer of the year.

And I would say that I would definitely agree with Savannah. I think that anything that's below 30% is going to have a hard time registering and competing with all the other great offers that are out there. Traditionally on Black Friday, Cyber Monday, your CPMs are going to be really high, your costs are going to be high, and you want to remain really competitive with all the other great offers out there.

Which leads me to the next really important thing. Creatives, let's talk creative. If you have watched my channel before, then you already know that creative is the most important factor to determining your success on Facebook Ads Manager.

So in general, creative testing is incredibly important. So important, in fact, that I actually made a recent video that went deep on the exact type of creating testing strategy that I use with my clients at Thesis. So it's going to surprise you that creative testing is not what you should be doing on Black Friday, Cyber Monday.

Yes, I'm going to repeat that. You should not be doing creative testing on Black Friday, Cyber Monday. I would even say that assets that have not been previously tested, with a few exceptions, should not be going live during Black Friday, Cyber Monday.

For the most part, what I am doing for my clients at Thesis is I am taking the best performing assets of the year and simply placing a .wack which features the offer front and center on those assets. Additionally, another thing that I tend to see really work around this time of the year are simple image graphics that feature the offer front and center. This is truly one of the times of the year where people are actually on page social looking for offers.

So you don't want them to have to work too hard to find your amazing offer. Plus, CPMs tend to be a little cheaper on images. So that's going to be another thing that's going to help your case out and get better performance on Black Friday, Cyber Monday.

And if you have the capability in relationships with influencers, I would highly suggest trying out whitelisted ads during this time. So in an ideal world, I would launch my Black Friday, Cyber Monday campaigns with the following ads. Two to three top performing videos that have already been tested.

These are our best performers that now have Black Friday, Cyber Monday, .wacks that feature that offer front and center. I would also include one to two image graphics that, again, feature the offer front and center. And if you have the capability, I would also give whitelisting ads a try here.

I know this might seem super simple, but as long as you've been keeping up with your creative testing throughout the rest of the year, this is actually the time where you want to put all of those learnings into action instead of concentrating on testing during this time. Now, the next thing I want to talk about is how to set up your campaigns for Black Friday, Cyber Monday. And I'm going to make this pretty simple for you guys.

I would actually just suggest starting a new campaign for your Black Friday, Cyber Monday offers. Now, the reason why I do this is because Facebook tends to prefer old assets when you drip new assets into already existing ad sets or campaigns. So I wouldn't want to take my already performing campaigns and ad sets and drip Black Friday, Cyber Monday creative there because it might not even spend.

Additionally, I don't really believe that there's going to be too many old learnings from old ad sets or campaigns that would be that important. So I am totally fine just actually creating a new campaign for this specific offer. And to be honest, I don't really think the difference between launching a new campaign or launching a new ad set really matters.

So if you wanted to actually just launch a new ad set in your current campaign, I don't really think that's going to affect performance that much. So you could definitely do that. But the reason why I like to just launch a new campaign is so that I can also launch a few different audiences and I can keep it really clean for reporting.

So here is what a typical non Black Friday, Cyber Monday campaign setup looks like. And if you want to see a more robust campaign build out where I go into the nitty gritty details of what it looks like on the inside of these campaigns, be sure to check out a few of these videos here. And my Black Friday, Cyber Monday campaign simply looks like this.

And like I said, inside of that campaign, I'm going to launch anywhere between three to five of the best performing audiences that I know. And I might even just go ahead and launch retargeting in there as well. So I'll have an ad set or two for social engagers or website visitors or even an email list depending on how large those audience sizes are.

And that's about it. Black Friday, Cyber Monday 2021. I feel like it's going to be different, but I feel like I also say that every year.

But this year I work with really different brands and a lot of them are actually subscription based businesses which tend to actually see a downturn during Black Friday, Cyber Monday. So I definitely feel like it's not going to be as intense as it was last year. Thank God.

I've also made it mandatory for our clients at Thesis to submit their Black Friday, Cyber Monday offers to us by October 15th. So that was actually a few days ago already. Additionally, since we also develop creative for a lot of our clients, I actually put a deadline of November 1st for any creative requests specifically related to Black Friday, Cyber Monday.

So we could be sure to map that out in the queue. Now I know that sounds a little harsh, but in the past, Ads Manager has actually gone down for a few hours around Black Friday, Cyber Monday, or approvals were taking too long. So I actually like to have all of my ad creatives set up and launched in the account anywhere from like three to four days before Thanksgiving so that we can make sure that everything is approved on time.

And that's about it. If you guys are interested in watching another Black Friday, Cyber Monday vlog from me this year, be sure to let me know in the comments below. I will see you next Sunday.

Bye!